/* Universal Style */

html { 
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;

    


}

a {
    scroll-behavior: smooth;
    text-decoration: none;
    color: inherit; 
}
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 

}

img { 
    max-width: 100%;
    height: auto;
}

body {
    margin: 0rem; 
    overflow-x:hidden;  
     
}

.full-page{ 
    position: relative; 
    top: 3.95rem;

}

header {
    height: 4rem; 
    background-color: rgb(168, 156, 156);
    color: white; 
    z-index: 2; 
    position: fixed; 
    width: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

    
}

header .webname { 
    height: 2rem; 
    padding-left: 1.5rem; 
    display: flex; 
    align-items: center; 
    
    
}

header .webname .colmar { 
    font-weight: bold;
}


.sign ul { 
    display: inline-flex; 
    list-style-type: none;
    justify-content: center; 
    align-items: center; 
    margin-right: 0.5rem;




}

header .mobile {
    display: none; 
}

@media only screen and (max-width: 720px){ 
    header {
        height: 64px;
        padding: .5rem 0;
        width: 100%; 
    
        

    }

    header .webname { 
        display: none; 

    }

    header .sign { 
        display: none; 
    }

    header .mobile { 
        display: block; 
        width: 100%; 
    
    }

    header .mobile ul { 
        list-style-type: none; 
        display: flex; 
        justify-content: space-around; 
        padding: 0.5rem; 
        width: 100%; 
        

    

    }

    header .mobile ul li { 
        padding: 0; 
    }
}

.sign ul li { 
    padding: 1rem; 
}


/* Start Here */ 


.start-here {
    display: flex;
    
    border: 0.0625rem none black; 
    background-color: rgba(236, 235, 236, 0.801);
    height: 30rem; 
    

}

.start-here .image-container { 
    overflow: hidden; 
    margin: 2rem 1.5rem;
    max-width: 60%; 
    


}

.start-here .image-container img { 
   width: 100%; 
    
}

.learn { 
    display: flex; 
    align-items: center; 
    flex-direction: column;  
    align-content: center; 
    justify-content: center; 
    

    
}

.learn h1 {
    padding-bottom: 1rem;
    text-align: center; 
    color: rgb(109, 140, 155)
}

.descript{
    padding-bottom: 1rem;
}

button { 
    height: 3rem; 
    width: 27rem; 
    display: block; 
    background: linear-gradient(to right, rgb(2, 19, 27) 50%, rgb(21, 70, 95) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .8s ease-out;
}

button:hover {
    background-position: left bottom;
}

button p { 
    font-size: 1.5rem;
    margin: 0.5rem; 
    text-align: center;
    color: white;  
}

@media only screen and (max-width:720px){ 
    .start-here {
        display: block; 
        height: auto; 

    }
    .start-here .image-container { 
        max-width: 100%; 
        height: auto; 
        margin:0; 
        

    }
    .learn h1{ 
        margin: 2rem 1rem; 

    }
    .descript {
        margin-bottom: 1.5rem;
        padding-bottom: 0;  
    }
    button { 
        margin-bottom: 2rem; 
    }
}

/* Info */

#info {
    display: inline-flex;   
    width: 80rem; 
    height: 45rem; 
    background-color: rgba(248, 248, 248, 0.801);
    color:rgb(109, 140, 155);
    padding-top: 4rem; 
  
    
    
    

}

.practice {
    display: block; 
    margin: 2rem 1.5rem; 
    width: 60%; 
    
 

}

.practice .image-container {
     
    overflow: hidden; 
    
    
    

    

   
    
}



.practice .content { 
    text-align: left; 
    margin-top: 2rem;
    margin-bottom: 1.5rem; 

}

.practice .content h1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.practice .content p { 
    margin-bottom: 2rem; 
}


/*Event*/

.event { 
    display: flexbox; 
    flex-direction: row; 
    justify-content: center;  
    width: 40%; 
    margin-bottom: 2rem; 
    margin-top: 2rem;
    color: rgb(109, 140, 155); 

}

.event .orientation { 
    height: auto; 
    display: flex; 
    padding-top: 0.5rem; 


}

.orientation:hover { 
    transition: border 200ms ease-in 30ms; 
    border: gray 2px solid;


}



.orientation .content { 
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    width: 65%; 

}

.orientation .content p { 
    margin: 0.5rem; 
}

 .orientation .image-container { 
        width: 35%; 
        height: auto; 
        margin:1rem; 
    }
    
.orientation .image-container img { 
        width: 100%; 
        display: block; 
    }
 
.mobile-container { 
        display: none;  
    }

@media only screen and (max-width: 720px) { 
    #info { 
        width: 100%; 
        height: auto; 
        margin:0; 
        padding: 0; 
        }
    .practice { 
        display: none; 
        }
    .event { 
        width: 100%; 
        }
        
    .event .orientation { 
        display: flex; 
        flex-direction: column; 
        width: 100%; 
        justify-content: center; 
            
        }
    
    .orientation .mobile-container { 
        width: 100%; 
        padding: 1rem; 
    
        }
    
    img { 
        width: 100%; 
        }
    
    .orientation .image-container { 
        display: none; 
            
    
    
    
       
    
       
    }
}


/* Learning */ 

#learning { 
    background-color: rgb(204, 159, 159);
    color: rgb(240, 233, 233); 
    padding-top: 4rem; 
}

.starting{ 
    margin: 0; 
    padding-top: 0; 
    text-align: center; 
    border-top: 0; 

}

.contain { 
    margin: 1rem 4.5rem; 
    display: inline-flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-content: center;
    
    
    
}

.software { 
    display: flexbox; 
    width: 20rem; 
    margin-right: 2rem; 
    margin-bottom: 2rem; 
    background-color:rgba(122, 59, 59, 0.877);
}

.software:hover{ 
    transition: border 200ms ease-in 30ms; 
    border: 1px gray solid; 
}

.software .image-container {
    height: auto;
}

.software .content { 
    margin: 1rem; 
    color: rgb(240, 233, 233);
  
}
.software .content p {
    margin: 0.33rem;  
    word-spacing: 0.05rem;
    line-height: 1.5rem;
}
.software .content h3 { 
    margin-bottom: 0.33rem; 
    margin-top: 1rem; 
}

.starting { 
    height: 6rem; 
    margin: 0rem; 
    display: flex; 
    align-items: center; 
    justify-content: center; 


}
@media only screen and (max-width: 720px){ 


    .software .image-container{
        display: none; 
    }
    .software p {
        display: none; 
    }
    .software { 
        margin-top: 0.25rem; 
        margin-left: 1rem;
        margin-right: 1rem; 
        width: 100%; 
    }
    #learning .contain { 
        margin: 2rem 1rem; 
    }

    .software h3 {
        padding-top: 1rem;
        padding-bottom: 1.5rem; 
        
    }


    
}

/* Thesis Exhibit*/

#thesis { 
     
    width: 80rem; 
    background-color: rgba(236, 235, 236, 0.801);
    padding-top: 4.01rem; 

    
}

.incontain{ 
    display: flex;
    
}


.more{ 
    width: 60%; 
    
}



.ex { 
    margin-bottom: 2rem;
    display: flex; 
    justify-content: center; 
    align-items: center;  
    padding-top: 1rem; 
    color: rgb(21, 70, 95); 

    
}



.video-container { 
    overflow: hidden; 
    margin: 1.5rem; 
    
    
}



video{ 
    max-width: 100%; 
    
}

.content { 
    margin-top: 1.5rem; 
    margin-bottom: 2rem; 
    margin-left: 1.5rem; 
    color: rgb(21, 70, 95); 



}

.content h3 {
    margin-bottom: 0.5rem; 
}

.article {
    display: flexbox; 
    justify-content: center; 
    flex-direction: row;
    width: 40%; 
    margin-left: 1.5rem; 
    
    
    

}

.article .fisma { 
    
    display: flex; 
    margin-top: 1.5rem; 
    
    


}

.fisma:hover{
    transition: background-color 200ms ease-in 30ms; 
    background-color: rgb(185, 179, 170);
}

.article .fisma .image-container {
    width: 35%; 
    height: auto; 
    margin: 1rem; 
}

.article .fisma .content { 
    width: 65%; 
    display: flex; 
    flex-direction: column;
    align-content: center;
    
}

.fisma .content h4  { 
    margin: 1rem; 
    text-align: center;
}

.fisma .content p {
    text-align: center; 
}

.mobile-container{ 
    display: none; 
}

@media only screen and (max-width:720px) {
    #thesis { 
        width: 100%;
        padding-top: 2rem; 
    }
    .more { 
        display: none; 
    }
    .ex { 
        margin: 0; 
        padding-top: 0;
        
    }
    

    .mobile-container {
        display: block; 
        width: 100%; 
        margin-top:1rem; 
        margin-bottom: 1.5rem;
    }

    #thesis .content, .article {
        display: none; 
    }
}
footer{
    height: 4rem; 
    border: rgb(54, 54, 54) solid 1px; 
    display: flex; 
    justify-content: space-between;
    background-color: rgb(168, 156, 156);
    color: white; 
    

}

footer p {
    text-align: left; 
    margin-left: 1.5rem; 
    margin-top: 1rem; 

}
footer ul {
    text-align: right; 
    margin-right: 1.5rem; 
    list-style-type: none;
    display: inline-flex; 
    margin-top: 1rem;
    
    

}

footer ul li { 
    padding-left: 2rem; 

}

@media only screen and (max-width: 720px){ 
    footer { 
        width: 100%; 
        padding: 1rem; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    footer ul { 
        display: none; 
    }
    footer p {
        margin: 0; 
    }
}